@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 47.8% 11.2%;
  --foreground: 210 40% 98%;
}

@layer base {
  body {
    @apply bg-consulting-background-light text-consulting-text-light transition-colors duration-300;
  }
  .dark body {
    @apply bg-[#0B1120] text-[#F9FAFB];
  }
}

@layer components {
  .section-container {
    @apply max-w-7xl mx-auto px-6 py-24 md:py-32;
  }
}
